@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.back {
    opacity: 0%;
    z-index: 0;
    position: relative;
}

.polaroid {
    border-radius: 52px;
    position: absolute;
    background-color: #dedada;
    height: 600px;
    width: 790px;
    left: 22px;

}

.shading1 {
    border-radius: 52px;
    position: absolute;
    background: linear-gradient(to left, #FFFFFF 0%, transparent 7%, transparent 94%, #FFFFFF 100%);
    height: 680px;
    width: 880px;
    left: -40px;
    z-index: 100
}

.tophalf {
    border-radius: 20px 20px 48px 48px;
    position: absolute;
    background-color: #e4e2e5;
    top: 447px;
    left: -21px;
    height: 200px;
    width: 834px;
}

.slider {
    position: absolute;
    background-color: #2d2c2c;
    height: 45px;
    width: 400px;
    left: 200px;
    border-radius: 0px 0px 0px 0px;
    background-image: linear-gradient(#b8b6b7, #2f2e2f, #2f2e2f, #2f2e2f, #2f2e2f, #2f2e2f, #2f2e2f, #2f2e2f);

}

.bottomhalf {
    position: absolute;
    background-color: #2d2c2c;
    height: 155px;
    width: 834px;
    top: 45px;
}

.grayleft {

    border-radius: 300px 0px 500px 0px;
    position: absolute;
    background-image: linear-gradient(#f0eeef, #e4e2e5, #e4e2e5, #e4e2e5, #e4e2e5, #e4e2e5, #e4e2e5, #e4e2e5);
    height: 45px;
    width: 302px;
    z-index: 2
}

.grayright {
    border-radius: 0px 500px 0px 500px;
    position: absolute;
    background-image: linear-gradient(#f0eeef, #e4e2e5, #e4e2e5, #e4e2e5, #e4e2e5, #e4e2e5, #e4e2e5, #e4e2e5);
    height: 45px;
    width: 302px;
    left: 533px;
    z-index: 2
}

.innersliderbg {
    position: absolute;
    border-radius: 0px 0px 18px 18px;
    left: 119px;
    z-index: 20;
    width: 199px;
    height: 52px;
    background-image: linear-gradient(to right, #2f2e2f, #444041, #858180, #858180, #858180, #858180, #858180, #858180, #444041, #2f2e2f);
}

.innerinnersliderbg {
    position: absolute;
    border-radius: 18px 18px 18px 18px;
    top: 8px;
    left: 144px;
    z-index: 22;
    width: 140px;
    height: 28px;
    background-color: #565152;

    box-shadow: 0px 0.3px 0px 0.5px rgba(0, 0, 0, 1);
}

.sliderbutton {
    position: absolute;
    border-radius: 18px 18px 18px 18px;
    box-shadow: 1px 7px 14px rgba(0, 0, 0, 1);
    z-index: 24;
    top: -3px;
    left: 116px;
    width: 30px;
    height: 30px;
    background-color: #514f50;
}

.lensecontainer {

    border-radius: 200px;
    position: absolute;
    background-color: #000000;
    height: 309px;
    width: 309px;
    left: 240px;
    top: 23px;
    filter: drop-shadow(20px 30px 40px rgba(0, 0, 0, 0.8));
}

.topgreen {
    border-radius: 18px 18px 70px 90px;
    position: absolute;
    z-index: 30;
    background-color: #162f1b;
    height: 100px;
    width: 170px;
    left: 300px;
    top: 57px;
}

.bottomgreen {
    border-radius: 70px 90px 0px 00px;
    position: absolute;
    z-index: 30;
    background-color: #162f1b;
    height: 70px;
    width: 170px;
    left: 320px;
    top: 205px;
}

.yellowflare {
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: #6b5f45;
    z-index: 31;
    left: 370px;
    top: 140px;
    border-radius: 60px;
    filter: blur(15px);
}

.whitereflection {
    width: 87px;
    position: absolute;
    height: 87px;
    background-color: white;
    border-radius: 50px;
    filter: blur(2px);
    left: 350px;
    opacity: 5%;
    top: 130px;
    z-index: 32;
}

.bottombottom {
    width: 834px;
    height: 31px;
    position: absolute;
    background-image: linear-gradient(#4a4645, #140e0f);
    top: 200px;
    border-radius: 0px 0px 200px 200px;
}

img {
    left: -22px;
}

.innercircle1 {
    position: absolute;
    background: radial-gradient(circle farthest-corner at center center, transparent 26%, #252425 23%, #252425 30%, #110F12 29%, #2C2B2D 32%, #2C2B2D 30%, #110F12 19%, #2A292C 34%, #2A292C 30%, #121013 35%, #121013 33%, #252426 36%, #110F12 3%, #110F12 0%, #252426 0%, #252426 37%, #121113 32%, #121113 30%, #100F11 28%, #69686A 18%, #69686A 38%, #3C3B3E 33%, #3C3B3E 39%, #69686A 37%, #69686A 40%, #3C3B3E 40%, #3C3B3E 41%, #69686A 40%, #69686A 42%, #3C3B3E 41%, #3C3B3E 43%, #69686A 42%, #69686A 44%, #3C3B3E 42%, #3C3B3E 45%, #69686A 43%, #69686A 46%, #3C3B3E 46%, #3C3B3E 47%, #69686A 47%, #69686A 48%, #3C3B3E 46%, #3C3B3E 47%, #69686A 47%, #69686A 48%, #3C3B3E 48%, #3C3B3E 49%, #69686A 49%, #69686A 50%, #3C3B3E 50%, #3C3B3E 51%, #69686A 51%, #69686A 52%, #100E0E 52%, #100E0E 55%, #141314 55%, #141314 57%, #2E2D2E 58%, #2E2D2E 54%, #1f1919 42%);
    border-radius: 100%;
    height: 310px;
    width: 310px;
    left: 240px;
    top: 23px;
    z-index: 35;
    opacity: 100%;

}

.lenseshading {
    border-radius: 100%;
    height: 310px;
    width: 310px;
    position: absolute;
    background: linear-gradient(to right, #000000 0%, #FFFFFF 100%);
    z-index: 500;
    opacity: 20%;
    filter: blur(10px);
}

h2 {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 131px;
    left: 352px;
    color: #cdccc6;
    z-index: 40;
    font-size: 30px;
}

.redbutton {
    position: absolute;
    height: 105px;
    width: 105px;
    top: 331px;
    left: 26px;
    border-radius: 61px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow: 11px 11px 22px #b1b1b1,
        -11px -11px 22px #ffffff;
    z-index: 50;
}

#snap {
    cursor: pointer;
    border-color: black;
    position: absolute;
    height: 89px;
    width: 89px;
    top: 339px;
    left: 34px;
    background: linear-gradient(to bottom, #e73827 0%, #f02f17 0%, #f6290c 76%, #f6290c 84%, #f16f5c 97%, #f85032 100%);
    border-radius: 61px;
    z-index: 150;
}

#snap:active {
    cursor: pointer;
    border-color: black;
    position: absolute;
    height: 89px;
    width: 89px;
    top: 339px;
    left: 34px;
    background: linear-gradient(to bottom, #b50000 80%, #f85032 100%);
    border-radius: 61px;
    z-index: 150;
}

#video {
    top: 100px;
    left: 300px;
    opacity: 30%;
    position: absolute;
    z-index: 30;
    transform: scaleX(-1);
}

#canvas {
    position: absolute;
    left: 80px;
    top: 40px;

}

.polaroidphoto {
    position: absolute;
    left: 900px;
    top: 50px;
    height: 600px;
    width: 800px;
    background: #eee;
    box-shadow: 0 15px 15px -8px black;

}

.whitecircle {
    position: absolute;
    left: 180px;
    top: 45px;
    width: 42px;
    height: 42px;
    background-color: #ded9da;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3), -5px -5px 6px rgba(255, 255, 255, 0.3);
}

.blackcircle1 {
    position: absolute;
    left: 180px;
    top: 100px;
    width: 42px;
    height: 42px;
    border-radius: 100%;
    background: radial-gradient(circle farthest-corner at center center, #000000 12%, #1D1D1D 21%, #000000 39%, #000000 42%, #1D1D1D 51%, #0F0E0F 58%);
}

.blackcircle2 {
    position: absolute;
    left: 530px;
    top: 286px;
    width: 42px;
    height: 42px;
    border-radius: 100%;
    background: radial-gradient(circle farthest-corner at center center, #000000 32%, #1D1D1D 48%, #000000 73%, #000000 50%, #0F0E0F 100%);
}


.flashside {
    position: absolute;
    left: 30px;
    top: 55px;
    width: 100px;
    height: 230px;
    border-radius: 20px;
    background: linear-gradient(145deg, #dcd7d6, #ffffff);
    box-shadow: 20px 20px 66px #cfcbca,
        -20px -20px 66px #ffffff;
    filter: blur(2px);
    box-shadow: -1.5px 2px 8px -2px black;
}

.flashinside .gradient {
    position: absolute;
    left: 36px;
    top: 59px;
    border-radius: 10%;
    width: 90px;
    height: 210px;
    background: linear-gradient(to top, #FFFFFF 0%, #2C2827 40%, #2C2827 59%, #FFFFFF 100%);
    z-index: 1;
}

.flashinside .verticallines {
    position: absolute;
    left: 60px;
    top: 60px;
    width: 90px;
    z-index: 3;
    height: 220px;
    background: linear-gradient(to right, #ffffff 0%, transparent 1%, #ffffff 1%, transparent 2%, #ffffff 2%, transparent 3%, #ffffff 3%, transparent 4%, #ffffff 4%, transparent 5%, #ffffff 6%, transparent 6%, #ffffff 7%, transparent 7%, #ffffff 8%, transparent 8%, #ffffff 9%, transparent 9%, #ffffff 10%, transparent 10%, #ffffff 11%, transparent 11%, #ffffff 12%, transparent 12%, #ffffff 13%, transparent 13%, #ffffff 14%, transparent 14%, #ffffff 15%, transparent 15%, #ffffff 16%, transparent 16%, #ffffff 17%, transparent 17%, #ffffff 18%, transparent 18%, #ffffff 19%, transparent 19%, #ffffff 20%, transparent 20%, #ffffff 21%, transparent 21%, #ffffff 22%, transparent 22%, #ffffff 23%, transparent 23%, #ffffff 24%, transparent 24%, #ffffff 25%, transparent 25%, #ffffff 26%, transparent 26%, #ffffff 27%, transparent 27%, #ffffff 28%, transparent 28%, #ffffff 29%, transparent 29%, #ffffff 30%, transparent 30%, #ffffff 31%, transparent 31%, #ffffff 32%, transparent 32%, #ffffff 33%, transparent 33%, #ffffff 34%, transparent 34%, #ffffff 35%, transparent 35%, 36%, transparent 36%, #ffffff 37%, transparent 37%, #ffffff 38%, transparent 38%, #ffffff 39%, transparent 39%, #ffffff 40%, transparent 40%, #ffffff 41%, transparent 41%, #ffffff 42%, transparent 42%, #ffffff 43%, transparent 43%, #ffffff 44%, transparent 44%, #ffffff 45%, transparent 45%, #ffffff 46%, transparent 46%, #ffffff 47%, transparent 47%, #ffffff 48%, transparent 48%, #ffffff 49%, transparent 49%, #ffffff 50%, transparent 50%);
}

.flashinside .horizontallines {
    position: absolute;
    left: 36px;
    top: 59px;
    border-radius: 10%;
    width: 90px;
    height: 420px;
    background: linear-gradient(to bottom, #FFFFFF 0%, transparent 1%, #FFFFFF 1%, transparent 2%, #FFFFFF 2%, transparent 3%, #FFFFFF 3%, transparent 4%, #FFFFFF 4%, transparent 5%, #FFFFFF 6%, transparent 6%, #FFFFFF 7%, transparent 7%, #FFFFFF 8%, transparent 8%, #FFFFFF 9%, transparent 9%, #FFFFFF 10%, transparent 10%, #FFFFFF 11%, transparent 11%, #FFFFFF 12%, transparent 12%, #FFFFFF 13%, transparent 13%, #FFFFFF 14%, transparent 14%, #FFFFFF 15%, transparent 15%, #FFFFFF 16%, transparent 16%, #FFFFFF 17%, transparent 17%, #FFFFFF 18%, transparent 18%, #FFFFFF 19%, transparent 19%, #FFFFFF 20%, transparent 20%, #FFFFFF 21%, transparent 21%, #FFFFFF 22%, transparent 22%, #FFFFFF 23%, transparent 23%, #FFFFFF 24%, transparent 24%, #FFFFFF 25%, transparent 25%, #FFFFFF 26%, transparent 26%, #FFFFFF 27%, transparent 27%, #FFFFFF 28%, transparent 28%, #FFFFFF 29%, transparent 29%, #FFFFFF 30%, transparent 30%, #FFFFFF 31%, transparent 31%, #FFFFFF 32%, transparent 32%, #FFFFFF 33%, transparent 33%, #FFFFFF 34%, transparent 34%, #FFFFFF 35%, transparent 35%, #FFFFFF 36%, transparent 36%, #FFFFFF 37%, transparent 37%, #FFFFFF 38%, transparent 38%, #FFFFFF 39%, transparent 39%, #FFFFFF 40%, transparent 40%, #FFFFFF 41%, transparent 41%, #FFFFFF 42%, transparent 42%, #FFFFFF 43%, transparent 43%, #FFFFFF 44%, transparent 44%, #FFFFFF 45%, transparent 45%, #FFFFFF 46%, transparent 46%, #FFFFFF 47%, transparent 47%, #FFFFFF 48%, transparent 48%, #FFFFFF 49%, transparent 49%, #FFFFFF 50%, transparent 50%);
    z-index: 2;

}

.bottomhalf .printerback {
    position: absolute;
    width: 690px;
    height: 60px;
    background-color: #474548;
    border-radius: 10px;
    top: 44px;
    left: 74px;
}

.printer {
    position: absolute;
    width: 670px;
    height: 60px;
    left: 10px;
    background: linear-gradient(to bottom, #4A484B 0%, #171213 8%, #484445 40%, #484445 48%, #171213 77%, #171213 95%, #8D8C8A 100%);

}

.grayborder {
    outline: 8px solid #3E3A38;
    outline-offset: 0px;
    position: absolute;
    left: 40px;
    top: 60px;
    width: 85px;
    height: 210px;
    border-radius: 20px;
    z-index: 4;
}

.yellowslider {
    width: 75px;
    height: 35px;
    position: absolute;
    background-color: #cd6f00;
    border-radius: 20px;
    top: 210px;
    left: 630px;
}

.yellowbutton {
    z-index: 3;
    top: 210px;
    left: 650px;
    width: 35px;
    height: 35px;
    position: absolute;
    border-radius: 80px;
    background: linear-gradient(to bottom, #FEE53A 0%, #FFC100 18%);
    box-shadow: 0px 0px 4px #000;
}

.rainbox {
    top: 105px;
    left: 120px;
    width: 60px;
    height: 50px;
    background-color: #2a2310;
    position: absolute;
}

.color1 {
    top: 2px;
    width: 60px;
    height: 4px;
    background-color: #009fe5;
    position: absolute;
}

.color2 {
    top: 8.5px;
    width: 60px;
    height: 7px;
    background-color: #00b140;
    position: absolute;
}

.color3 {
    top: 18px;
    width: 60px;
    height: 6px;
    background-color: #ffb200;
    position: absolute;
}

.color4 {
    top: 26px;
    width: 60px;
    height: 6px;
    background-color: #ff7900;
    position: absolute;
}

.color5 {
    top: 38px;
    width: 60px;
    height: 15px;
    background-color: #f20013;
    position: absolute;
}

.whitebox {
    top: 80px;
    left: 635px;
    width: 62px;
    height: 62px;
    background-color: #e6e4e6;
    border-radius: 15px;
    position: absolute;
    z-index: 5
}

.lightgraybox {
    top: 60px;
    left: 615px;
    width: 100px;
    height: 100px;
    background-color: #423e3e;
    border-radius: 20px;
    position: absolute;
    z-index: 4;
}

.graybox {
    top: 30px;
    left: 585px;
    width: 162px;
    height: 162px;
    background-color: #1b1a18;
    border-radius: 30px;
    position: absolute;
}
